#a{
				margin-left: 500px;
}
.cd h1,.cd p{
				display:inline;
}
.cd img{
				width:20px;
}
.f img{
				width:700px;
}
.brand{
				margin-left: 700px;
}
.brand h1{
				color:#E9967A ;
}
.down h2{
				display:inline;
}
.b{
				margin-left:150px;
}
.c{
				margin-left:200px;
}
.spec p{
				display:inline;
}
